{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro da Clínica</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <h1>Cadastro da Clínica</h1>
    <form method="post">
        {% csrf_token %}

        <div>
            <label for="first_name">Nome Clinica</label>
            {{ form.first_name }}
        </div>

        <div>
            <label for="email">Email</label>
            {{ form.email }}
        </div>
        <div>
            <label for="telefone">Telefone</label>
            {{ form.telefone }}
        </div>
        <div>
            <label for="cnpj">CNPJ</label>
            {{ form.cnpj }}
        </div>

        <h3>Endereço</h3>
        <div>
            <label for="cep">CEP</label>
            {{ form.cep }}
        </div>

        <div>
            <label for="numero">Número</label>
            {{ form.numero }}
        </div>

        <div>
            <label for="uf">UF</label>
            {{ form.uf }}
        </div>

        <div>
            <label for="cidade">Cidade</label>
            {{ form.cidade }}
        </div>

        <div>
            <label for="complemento">Complemento</label>
            {{ form.complemento }}
        </div>

        <div>
            <label for="senha">Senha</label>
            {{ form.senha }}
        </div>

        <button type="submit">Cadastrar</button>
</body>

</html>